name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Build
        run: go build -a -tags "netgo" -installsuffix netgo  -ldflags="-s -w -extldflags "-static" -o bin/ ./...

      - name: Test
        run: go test -v ./...
